<ul>
 <li>Total de preguntas: <%= statistics.numQuizzes%></li>
 <li>Total de comentarios: <%= statistics.numComments%></li>
 <li>Media de comentarios por pregunta: <%= statistics.averageCommentsByQuiz%></li>
 <li>Preguntas sin comentarios: <%= statistics.numQuizzesWithoutComments%></li>
 <li>Preguntas con comentarios: <%= statistics.numQuizzesWithComments%></li>
</ul>
